:root {
    --bg-color: #a4a4b5;
    --inverted-bg-color: #010121;
    --primary-color: rgb(2 8 78);
    --secondary-color: rgb(33 37 247);
    --inverted-primary-color: green;
    --inverted-secondary-color: rgb(41 233 41);
}
