:root {
    --bg-color: #a4a4b5;
    --inverted-bg-color: #010121;
    --primary-color: rgb(2 8 78);
    --secondary-color: rgb(33 37 247);
    --inverted-primary-color: rgb(41 233 41);
    --inverted-secondary-color: green;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #717181;
}
