.app_pink_theme {
    --bg-color: #f5f0f3;
    --inverted-bg-color: #d04d97;
    --primary-color: #ea198f;
    --secondary-color: #e897c5;
    --inverted-primary-color: #fbf4f8;
    --inverted-secondary-color: #eab9d5;

    // skeleton
    --skeleton-color: #f398d4;
    --skeleton-shadow: rgb(249 6 123 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #f1c2de;
}
